system.yml
t.log
*.symbols.yml
RatePrinter.log*
FXCMHistoryUpdater.log*
datafeed.log*
cover_db
LAST_DOWNLOADED
TO_DOWNLOAD
TODO
server_*.log
trader_*.log
config_real.sh
*.tradeable.yml
.includepath
.project
.settings
_Inline
